
 <footer>
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <p>user`s name portfolio site</p>
            </div>
        </div>
    </div>
</footer> 

<%
=begin%>
 <footer>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm fixed-bottom mt-5">
    <%= link_to root_path, class: "navbar-brand mx-auto" do %>
        <p>user`s name portfolio site</p>
    <% end %>
    </nav>
</footer> 
<%
=end%>
